#container {
  width: 90%;
}

/*MOBILE FIRST! CSS PROPERTIES OUTSIDE OF MEDIA QUERIES
ARE UNIVERSAL, FOR SCREEN SIZES OVER 900 PIXELS GO 
INSIDE MEDIA QUERY*/

body {
    background-image: url("../img/phone-background.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover cover;
    background-position: center center;
}

h1 {
  font-size: 100px;
  text-align: center;
  margin: 100px 0px 0px;
  color: white;
  font-style: italic;
  text-shadow: 2px 2px 8px gray;
}

nav ul {
  list-style-type: none;
  /*list-style-position: center;*/
  text-align: center;
  padding: 0;
}

nav a {
  color: white;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px 8px gray;
  text-decoration: none;
  display: block;
  padding: .2em 0;
}

.logo img{
  width: 100px;
}

footer {
  font-size: 12pt;
  color: white;
  text-align: center;
  clear: both;
  padding-top: 50px;
}

.social-icon {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

/*****************
MEDIA QUERIES
*****************/

@media screen and (min-width: 900px) {
  body {
    background-image: url("../img/main-background.jpg");  
    background-size: 100%;
    background-position: initial;
  }

  nav li {
    width: 225px;
    border-bottom: none;
    height: 30px;
    line-height: 30px;
    font-size: 3em;
  } 

  nav li {
    display: inline-block;
  }
}