#container {
  width: 90%;
}

/*MOBILE FIRST! CSS PROPERTIES OUTSIDE OF MEDIA QUERIES
ARE UNIVERSAL, FOR SCREEN SIZES OVER 900 PIXELS GO 
INSIDE MEDIA QUERY*/

body {
    background-image: url("../img/phone-background.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover cover;
    background-position: center center;
}

h1 {
  font-size: 100px;
  text-align: center;
  margin: 100px 0px 0px;
  color: white;
  font-style: italic;
  text-shadow: 2px 2px 8px gray;
}

h1 a {
  text-decoration: none;
  color: white;
}

nav ul {
  list-style-type: none;
  /*list-style-position: center;*/
  text-align: center;
  padding: 0;
}

nav a {
  color: white;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px 8px gray;
  text-decoration: none;
  display: block;
  padding: .2em 0;
}

.logo img{
  width: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 12pt;
  color: white;
  text-shadow: 2px 2px 8px black;
  width: 100%;
  text-align: center;
  clear: both;
  padding-top: 50px;
}

.social-icon {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  background-color: white;
  border-radius: 15px;
}

/*****************
CONTACT PAGE
*****************/

h2 {
  color: white;
  text-align: center;
  margin-top: 50px;
  text-shadow: 20px 20px 40px black;
}

p {
  color: white;
  text-align: center;
  text-shadow: 5px 5px 10px black;
}

/*****************
REVIEW PAGE
*****************/

.review-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reviewcontent {
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 22em
}

#reviewfooter {
  bottom: 0;
  font-size: 12pt;
  color: white;
  text-shadow: 2px 2px 8px black;
  width: 100%;
  clear: both;
  padding-top: 50px;
}

/*****************
MEDIA QUERIES
*****************/

@media screen and (min-width: 900px) {
  body {
    background-image: url("../img/main-background.jpg");  
    background-size: 100%;
    background-position: initial;
  }

  nav li {
    width: 225px;
    border-bottom: none;
    height: 30px;
    line-height: 30px;
    font-size: 3em;
  } 

  nav li {
    display: inline-block;
  }

  .review-img {
    margin-top: 100px;
  }
}