


<<<<<<< HEAD
/*MOBILE FIRST! CSS PROPERTIES OUTSIDE OF MEDIA QUERIES
ARE UNIVERSAL, FOR SCREEN SIZES OVER 900 PIXELS GO 
INSIDE MEDIA QUERY*/

body {
    background-image: url("./img/phone-background.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover cover;
    background-position: center center;
=======
body {
    background-image: url("http://lizziekoe.github.io/images/jaelfeet.jpg");
>>>>>>> gh-pages
}

h1 {
  font-size: 100px;
  text-align: center;
  margin: 100px 0px 0px;
  color: white;
  font-style: italic;
<<<<<<< HEAD
  text-shadow: 2px 2px 8px gray;
}


nav ul {
  list-style-type: none;
  list-style-position: center;
  padding: 0;
}

nav a {
  color: white;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px 8px gray;
  text-decoration: none;
  display: block;
  padding: .2em 0;
=======
}

.links {
  color: white;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px 8px grey;
>>>>>>> gh-pages
}


.logo img{
  width: 100px;
<<<<<<< HEAD
}

@media (min-width: 900px) {
  body {
    background-image: url("./img/main-background.jpg");  
    background-size: 100%;
    background-position: initial;
  }
=======
>>>>>>> gh-pages
}